*.pyc
*.csv
*.pkl
*.log
*.log.*
*.last
*.last.*
*.bak
*.bkp
*.picklekp
*.pickle
*.jar
*.ipynb
*.zip
*.png
*.hdf5*
*.orig
*.csv.*
*.db
*.out
RNN/examples/predicted_open_price.txt
BNF/archive/bnf_volume_breakout_v1.py.chkpt1
inception/login/.last_restart_sec
inception/login/debug.html
